#t_divBox{
    position: fixed;
    left: 0;
    top: 0;
    margin :auto;
    right: 0;
    z-index: 99999999;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction:column


}